<div>
	<div id='map'></div>
	<br />
	<div class="row">
		<div class="col-sm-4 col-sm-offset-2 text-center"  style='margin-bottom:15px;'>
			<b>Longitude</b><br /><br />
		 	<input type="text" ng-model='user.longitude' />
		</div>
		<div class="col-sm-4 text-center">
			<b>Latitude</b><br /><br />
			<input type="text" ng-model='user.latitude' />
		</div>
	</div>
	<br />
	<div class="row text-center">
		<div>
			<b>Reach</b><br />
			0 <input type="text" id="slider" /> 10000
			<br />
		</div>
	</div>
	<div class="row text-right">
		<button class='btn btn-md btn-primary' ng-click="saveConfig()">Save</button>
	</div>
</div>