<div class="jumbotron">
  <h1>Discount in my shop {{data}}</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure tp help you.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing text-center">
  <div class="col-md-4">
    <h4>Free</h4>
    <p>
      You do not take any risk as the service is free of charge and will help you to find your prospect
    </p>
  </div>
  <div class="col-md-4">
    <h4>Targeted customer</h4>
    <p>
     Only target customer close enough from your shop who are interested in what your are selling
    </p>
  </div>
  <div class="col-md-4">
    <h4>Customisable</h4>
    <p>Customize which products, your target range, your opening hours</p>
  </div>
</div>
