<div class="header">
  <div class="navbar navbar-default" role="navigation" ng-init="collapse=true">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" ng-click="collapse = !collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{collapse}}
        <a class="navbar-brand" href="#/dashboard">{{user.name}}</a>
      </div>

      <div class="collapse navbar-collapse"  collapse="false">

        <ul class="nav navbar-nav">
          <li ui-sref-active="active"><a ui-sref="main.configuration" ng-click="collapse=true">Configuration</a></li>
          <li ui-sref-active="active" ><a ui-sref="main.products"     ng-click="collapse=true">Products</a></li>
          <li ui-sref-active="active"><a ui-sref="main.transactions"  ng-click="collapse=true">Transactions</a></li>  
          <li> <a href='#' ng-click="collapse=true">Contact me!</a></li>
          <hr ng-show='visible-md'/>
          <li> <a href='#' ng-click='logout()'>Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div ui-view ></div>
    <toaster-container toaster-options="{'position-class':'toast-bottom-right'}"></toaster-container>
</div>

<div class="footer">
  <div class="container">
    <p>Frederic FORT @2015</p>
  </div>
</div>
